**/_build/**
/*.native
/setup.log
/setup.data
/reduced_occlusion.txt
/superset_disasm.tar
/graphs.zip
*.zip
*.graph
*.txt
/src/superset_disassemblers.mldylib
/src/superset_disassemblers.mllib
/superset_disassemblers_api.docdir
/_tags
/src/superset_disassembler.plugin
/configure
/myocamlbuild.ml
/src/META
